{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Account Details{% endblock %}

{% block header-left-link %}{% url 'profile' %}{% endblock %}
{% block header-left-icon %}<i class="bi bi-chevron-left"></i>{% endblock %}

{% block content %}

<div>
<form method="POST">{% csrf_token %}
    
    {% for field in form %}
    <div class="form-floating mb-3">
        {% render_field field class="form-control" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <button class="btn btn-success" type="submit">Save</button>
</form>
</div>

{% endblock %}