<!DOCTYPE html>
<html>
    <body>
        <header>
        Header
        </header>
                {% block content %}
                {% endblock %}
        <footer>
            <table>
                <tr>
                    <td><a href="">Home</a></td>
                    <td><a href="">Create</a></td>
                    <td><a href="">Assign</a></td>
                    <td><a href="">Completed Workouts</a></td>
                    <td><a href="">Upcoming Workouts</a></td>
                </tr>
            </table>
        </footer>
    </body>
</html>