{% extends "base/base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}

<div>
    <a href="{% url 'client-create' %}">
        <button class="btn btn-primary" type="button">Create Client</button>
    </a>
</div>

<div>
    {% for item in object_list %}
        <ul class="list-group">
            <li class="list-group-item">  
                <div>
                    <h5 class="text single-line"><b>{{ item.first_name }} {{ item.last_name }}</b></h5>
                </div>
                <div>
                    <a href="{% url 'client-details' item.id %}">
                        <button class="btn btn-primary" type="button">Edit Client</button>
                    </a> 
                </div>
            </li>   
        </ul>    
    {% empty %}
    No clients yet.
    {% endfor %}
</div>


{% endblock %}