{% extends "base/base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
<div>
<div class="row mb-2">
    <div class="col text-end pe-3">
        <a class="fitnessapp-profile-item" href="{% url 'client-create' %}">
             <i class="bi bi-plus-circle"></i><span><small>&nbsp;&nbsp;Add Client</small></span>
        </a>
    </div>
</div>

<div>
    {% for item in object_list %}
   
        <ul class="list-group">
             
            <li class="list-group-item client-detail-item">
                <a class="fitnessapp-profile-item" href="{% url 'client-details' item.id %}">
                    <div class="client-detail-outer">
                        <div class="client-detail-name">
                            <h5 class="text single-line"><b>{{ item.first_name }} {{ item.last_name }}</b></h5>
                        </div>
                        <div class="client-detail-phone-number pt-1">
                            <a class="fitnessapp-profile-item" href="tel:{{ item.phone_number }}"><span class="fs-6 text single-line"><small><small><i class="bi bi-telephone-outbound"></i>&nbsp;&nbsp;&nbsp;{{ item.phone_number }}</a></small></small></span></a>
                        </div>
                        <div class="client-detail-edit">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </div>
                </a> 
            </li> 
            
        </ul>  
        
    {% empty %}
    No clients yet.
    {% endfor %}
    
</div>  
</div>


{% endblock %}