{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Create Client{% endblock %}

{% block header-right-link %}{% url 'clients' %}{% endblock %}
{% block header-right-icon %}<i class="bi bi-x-lg"></i>{% endblock %}

{% block content %}

<div>
    <form id="id-form" method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-floating mb-3">
            {% render_field field class="form-control" %}
            <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        <button id="id-submit-button" class="btn btn-success" type="submit">Save</button>
    </form>
</div>
{% block scripts %}

<script type="text/javascript" nonce="{{CSP_NONCE}}">

  document.getElementById('id-form').addEventListener("submit", submitForm);

  function submitForm() {
    var btn = document.getElementById('id-submit-button');
    btn.disabled = true;
    btn.innerText = 'Saving...';
  }

</script>

{% endblock %}

{% endblock %}