<div class="exercisevideo-outer">
    <div class="exercisevideo-topblock"></div>
    <div class="exercisevideo-bottomblock"></div>
    <div class="exercisevideo-wholeblock-transparent" id="transparent"></div>
    <div class="exercisevideo-wholeblock-grey" id="grey">
      Next Exercise: {{ name }}
    </div>
    <div class="exercisevideo-video">
      <iframe class="exercisevideo-video" src="https://www.youtube.com/embed/?playlist={{ video_id }}&loop=1&mute=1&autoplay=1">
      </iframe>
    </div>
</div>
  