{% extends "base.html" %}
{% block content %}
    <h1>Exercises</h1>
    <table class="table">
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'exercise-detail' item.id %}">
                        <img src="https://img.youtube.com/vi/{{ item.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 10px">
                        </a>
                    </td>
                    <td>
                        <p><b>{{ item.name }}</b></p>
                        <p class="fw-light">{{ item.get_mode_display }}</p>
                    </td>
                </tr>
            {% empty %}
                No exercises yet.
            {% endfor %}
        </tbody>
      </table>
    <div class="d-grid gap-2 d-md-block">
        <a href="exercises/create">
        <button class="btn btn-primary" type="button">Create Exercise</button>
        </a>
    </div>
{% endblock %}