<ul class="list-group mb-2">
    <li class="list-group-item">
        <a class="fitnessapp-profile-item" href="{% url 'exercise-detail' item.id %}">
            <div class="row fitnessapp-text-color-header">
                <div class="col">
                    <span class="fitnessapp-text-color-header">{{ item.name }}</span>
                </div>
                <div class="col-auto d-flex text-end align-items-center">
                    <i class="bi bi-chevron-right fs-6"></i>
                </div>
            </div>
        </a>
    </li>
</ul>