{% extends "base.html" %}
{% load static %}
{% block header %}
<h6>Home</h6>
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h6>Hi <b>{{ user.first_name }}</b>!</h6></br></h6>

<div class="workout-section-heading-today"><b class="text-muted font-monospace">TODAY'S PLAN</b></div>
{% for item in activeSessions %}
    <p style="border-radius: 0.5rem; border: 2px solid white; background-color: white; padding: 10px;  width: 100%;">
    <a href="{% url 'workout-detail' item.workout.id %}">
        <img src="https://img.youtube.com/vi/{{ item.workout.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 5px"></a>
    </a>
    {{item.workout.name}}

    <a href="{% url 'workoutsession-run' item.id %}">
        <button class="btn btn-outline-dark" type="button">
            <img src="{% static 'images/run.svg' %}">
        </button>
    </a>
    </p>
{% empty %}
    <p>Nothing planned for today. Check out some <a href="{% url 'workouts' %}">Workouts</a>.</p>
{% endfor %}

<div class = "workout-section-heading-upcoming"><b class="text-muted font-monospace">UPCOMING WORKOUTS</b></div>
{% for item in upcomingSessions %}
<p style="border-radius: 0.5rem; border: 2px solid white; background-color: white; padding: 10px;  width: 100%;">
    <a href="{% url 'workout-detail' item.workout.id %}">
        <img src="https://img.youtube.com/vi/{{ item.workout.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 5px"></a>
        {{ item.workout.name }}: {{ item.scheduled_date  }}
    </a>
    
</p>
{% empty %}
    <p>No upcoming workouts. Add some <a href="{% url 'workouts' %}">Workouts</a> to do later.</p>
{% endfor %}

<div class = "workout-section-heading-past"><b class="text-muted font-monospace">PAST WORKOUTS</b></div>
{% for item in pastSessions %}
<p style="border-radius: 0.5rem; border: 2px solid white; background-color: white; padding: 10px;  width: 100%;">
    <a href="{% url 'workout-detail' item.workout.id %}">
        <img src="https://img.youtube.com/vi/{{ item.workout.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 5px"></a>
    </a>
    {{ item.workout.name }}: {{ item.scheduled_date  }}
</p>
{% endfor %}
{% else %}
<p>Welcome to the Fitness App!</p>
{% endif %}
{% endblock %}