{% extends "base/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

    <ul class="list-group">

        <li class="list-group-item">
            <a class="fitnessapp-profile-item" href="{% url 'account-details' user.id %}">
            <div class="row fitnessapp-text-color-header">
                <div class="col">
                    <span>My Account</span>
                </div>
                <div class="col-auto d-flex text-end align-items-center">
                    <i class="bi bi-chevron-right fs-6"></i>
                </div>
            </div>
            </a>
        </li>

        {% if user.person.coach %}
        <li class="list-group-item">
            <a class="fitnessapp-profile-item" href="{% url 'coach-details' user.person.coach.id %}">
            <div class="row fitnessapp-text-color-header">
                <div class="col">
                    <span>My Trainer</span>
                </div>
                <div class="col-auto d-flex text-end align-items-center">
                    <i class="bi bi-chevron-right fs-6"></i>
                </div>
            </div>
            </a>
        </li>
        {% endif %}
        
        <li class="list-group-item">
            <a class="fitnessapp-profile-item" href="{% url 'password_change' %}">
            <div class="row fitnessapp-text-color-header">
                <div class="col">
                    <span>Change Password</span>
                </div>
                <div class="col-auto d-flex text-end align-items-center">
                    <i class="bi bi-chevron-right fs-6"></i>
                </div>
            </div>
            </a>
        </li>

        <li class="list-group-item">
            <a href="#" id="id-logout-link" class="fitnessapp-profile-item">
            <div class="row fitnessapp-text-color-header">
                <div class="col">
                    <span class="fw-bold">Sign out</span>
                </div>
                <div class="col-auto d-flex text-end align-items-center">
                    <i class="bi bi-chevron-right fs-6"></i>
                </div>
            </div>
            </a>
        </li>

    </ul>

    <form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    </form>

{% block scripts %}

<script type="text/javascript" nonce="{{CSP_NONCE}}">
    document.getElementById('id-logout-link').addEventListener("click", logout);

    function logout()
    {
        document.getElementById('logout-form').submit()
    }
</script>

{% endblock %}

{% endblock %}