{% extends "base/base.html" %}
{% load static %}

{% block title %}Sessions{% endblock %}

{% block content %}
<div>

{% if user.is_authenticated %}
<div>
<div class="workout-section-heading-today fs-5"><small><b>Today</b></small></div>
    <div class="container-fluid overflow-scroll fitnessApp-scrollbar-width-none fitnessApp-max-height-11rem">
        {% for item in object_list %}
            {% include 'workoutsession_card.html' %}
        {% empty %}
            <p><small>Nothing planned for today. Create a <a href="{% url 'build-session' %}">personalized session</a>.</small></p>
        {% endfor %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
    <ul class="list-group mb-2">
        <li class="list-group-item">
            <a class="fitnessapp-profile-item" href="{% url 'upcoming-sessions' %}">
                <div class="row fitnessapp-text-color-header">
                    <div class="col">
                        <span>Upcoming Sessions</span>
                    </div>
                    <div class="col-auto d-flex text-end align-items-center">
                        <i class="bi bi-chevron-right fs-6"></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <ul class="list-group mb-2">  
        <li class="list-group-item">
            <a class="fitnessapp-profile-item" href="{% url 'past-sessions' %}">
                <div class="row fitnessapp-text-color-header">
                    <div class="col">
                        <span>Past Sessions</span>
                    </div>
                    <div class="col-auto d-flex text-end align-items-center">
                        <i class="bi bi-chevron-right fs-6"></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
</div>
</div>
{% endif %}
{% endblock %}