{% extends "base/base.html" %}
{% load static %}

{% block title %}Upcoming Sessions{% endblock %}

{% block content %}
<div>

{% if user.is_authenticated %}

<div class="workout-section-heading-upcoming fs-5"><small><b>Upcoming sessions</b></small></div>

<div class="container-fluid overflow-scroll" style="scrollbar-width: none;">
    {% regroup object_list by scheduled_date as grouped_upcomingSessions %}

    {% for group in grouped_upcomingSessions %}

        <div class="row fitnessapp-border-color-content">
            <div class="col pt-2 pb-2 font-monospace fitnessapp-bg-color-content">
                <span class="text-white fw-bolder"><small>{{ group.grouper|date:'D m/j'}}</small></span>
            </div>
        </div>
        {% for item in group.list %}
            {% include 'workoutsession_card.html' %}
        {% endfor %}
    {% empty %}
        <p><small>No upcoming sessions. Add some <a href="{% url 'build-session' %}">personalized sessions</a> to do later.</small></p>
        
    {% endfor %}
</div>

</div>
{% endif %}
{% endblock %}