{% extends "base.html" %}

{% block title %}Workout: {{ object.workout.name }}{% endblock %}

{% block content %}
<p> 
    <a href="{% url 'workoutsession-step'  workoutsession_id=object.id sequencenumber=object.current_step_sequence %}">
        <button class="btn btn-primary" type="button">
            {% if object.current_step_sequence == 1 %}
                Start Workout!
            {% else %}
                Resume Workout!
            {% endif %}
        </button>
    </a>
</p>

{% for item in object.workoutsessionstep_set.all %}
    <p><img src="https://img.youtube.com/vi/{{ item.exercise.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 10px"> {{ item.exercise.name }}</p>
    <p>Rest: {{ item.rest_after }} Seconds</p>
{% endfor %}

{% endblock %}