{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>
  var totalSeconds = "{{ object.rest_before }}";
  var check = "{{ object.exercise.mode }}";
  var exerciseTime = "{{ object.circuit_exercise.mode_quantity }}";
  var modeQuantity = "{{ object.circuit_exercise.mode_quantity }}";
  var current_initial = "{{ object.workoutSession.current_step_sequence }}";
  var current_final = "{{ object.workoutSession.workoutsessionstep_set.all|length }}";
</script>
<script src="{% static 'js/workoutSessionRun.js' %}"></script>
{% endblock %}

{% block title %}Workout: {{ object.workoutSession.workout.name }}{% endblock %}

{% block content %}
<div class="workout-session-run-outer">

  <div class="workout-session-run-row-video">
    <div class="workout-session-progress-bar-video-exercise-outer">
      <div class="workout-session-topblock">
        <div class="workout-session-topblock-circuit-set">
          <span class="badge rounded-pill text-bg-light" style="margin-right: 0.2rem;">{{object.circuit.name}}</span><span class="badge rounded-pill text-bg-light">Set {{object.set}}</span>
        </div>
        <div class="workout-session-progress-bar">
          <div class="fitnessapp-progress-container">
            <div class="fitnessapp-progress-bar" id="progressBar">
            </div>
          </div>
        </div>
      </div>
    
      <div class="workout-session-video">
        {% include 'exercise_video.html' with video_id=object.exercise.video_id name=object.exercise.name %}
      </div>

      <div class="workout-session-exercise">

        <div class="workout-session-exercise-circuit-set-outer">
            <h5 style="padding-top: 0.4rem;">{{object.exercise.name}}</h5>

        </div>

      </div>
    </div>
  </div>

  <div class="workout-session-run-row-controls">
    <div class="workout-session-rest-reps-outer">
      <div class="workout-session-rest-display">
        <span>Rest <b>{{ object.rest_before }}</b> seconds</span>
        <!-- <h6>Rest <div class="workout-session-rest-box">{{ object.rest_before }}</div> Seconds</h6> -->
      </div>
      <div class="workout-session-reps-display">
        <b>{{ object.circuit_exercise.mode_quantity }}</b> 
          {% if object.exercise.mode == "TIME" %}
            seconds
          {% else %}
            reps
          {% endif %}
      </div>
    </div>

    <div class="workout-session-controls-grid">
      <div class="workout-session-previous-button">
        <form method="GET" action="{% url 'workoutsession-step'  workoutsession_id=object.workoutSession_id sequencenumber=object.sequence_number|add:-1 %}">
            <button class="btn btn-outline-dark btn-lg" {% if object.sequence_number == 1 %}disabled{% endif %} type="submit">
              <i class="bi bi-caret-left-fill"></i>
            </button>
        </form>
      </div>

     
      <div class="workout-session-pause-resume-button">
        <form onsubmit="return false;">
          <button id="pause-button" class="btn btn-outline-dark btn-lg">
            <i id="pause-resume-button" class="bi bi-pause-circle"></i>
          </button>
        </form>
      </div>


      <div class="workout-session-next-button">
        <form id="next-form" method="GET" action="{% url 'workoutsession-step'  workoutsession_id=object.workoutSession_id sequencenumber=object.sequence_number|add:1 %}">
            <button class="btn btn-outline-dark btn-lg" {% if object.sequence_number == object.workoutSession.workoutsessionstep_set.all|length %}disabled{% endif %} type="submit">
              <i class="bi bi-caret-right-fill"></i>
            </button>
        </form>
      </div>

    </div>
<!-- <div class="workout-session-step-grid">

</div>     -->
    <div id="timer" class="timer-grid">
      <div class="timer-outside-grid">
        <div class="timer-grid-inner">
          <div class="timer" id="timer-div">
            <div id="div-timer" class="timer-wrapper">
              <svg class="timer-svg">
                <circle class="circle-bg" cx="50" cy="50" r="45" />
                <circle class="circle-progress" cx="50" cy="50" r="45" />
              </svg>
              <div class="time-text" id="time-text">--:--</div>
            </div>
          </div>
        </div>
    
        <div id="restart-timer-div" class="restart-timer">
          <button onclick="restartTimer()" id="restart-timer-button" class="btn btn-outline-dark btn-lg timer-button">
            <i class="bi bi-arrow-counterclockwise"></i>
            <span class="menu_label text-muted"><small><small><small>RESTART</small></small></small></span>
          </button>
        </div>
    
        <div id="skip-rest-timer-div" class="skip-rest-timer">
          <button onclick="skipTimer()" id="skip-rest-timer-button" class="btn btn-outline-dark btn-lg timer-button">
            <i class="bi bi-skip-end"></i>
            <span class="menu_label text-muted"><small><small><small>SKIP</small></small></small></span>
          </button>
        </div>
    
      </div>


    </div>

  </div>

</div>
{% endblock %}
