{% extends "base.html" %}
{% load static %}
{% block header %}
<p>Workout: {{ object.workoutSession.workout.name }}</p>
{% endblock %}
{% block content %}
<table>
    <tr>
        <td align="middle">
            <p>{{ object.exercise.name }}</p>
            {% include 'exercise_video.html' with video_id=object.exercise.video_id %}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td align="left">
            <form method="GET" action="{% url 'workoutsession-step'  workoutsession_id=object.workoutSession_id sequencenumber=object.sequence_number|add:-1 %}">
                <button class="btn btn-outline-dark" {% if object.sequence_number == 1 %}disabled{% endif %} type="submit">
                    <img src="{% static 'images/previous.svg' %}">
                </button>
            </form>
        </td>
        <td align="right">
            <form method="GET" action="{% url 'workoutsession-step'  workoutsession_id=object.workoutSession_id sequencenumber=object.sequence_number|add:1 %}">
                <button class="btn btn-outline-dark" {% if object.sequence_number == object.workoutSession.workoutsessionstep_set.all|length %}disabled{% endif %} type="submit">
                    <img src="{% static 'images/next.svg' %}">
                </button>
            </form>
        </td>
    </tr>
</table>

{% endblock %}