{% extends "base/base.html" %}

{% block title %}Workout: {{ object.workout.name }}{% endblock %}

{% block content %}
<div>
<p>
    <a href="{% url 'workoutsession-step'  workoutsession_id=object.id sequencenumber=object.current_step_sequence %}">
        <button class="btn btn-primary" type="button">
            {% if object.current_step_sequence == 1 %}
                Start Workout!
            {% else %}
                Resume Workout!
            {% endif %}
        </button>
    </a>
</p>

    {% include 'workout_detail_card.html' with workoutObject=object.workout %}
</div>
{% endblock %}