{% load widget_tweaks %}

<div id="page_2" class="build-page-2" style="display: none">
  
  {% include 'workoutsession_build_page2_circuit.html' with ckt_num=1 %}
  {% include 'workoutsession_build_page2_circuit.html' with ckt_num=2 %}
  {% include 'workoutsession_build_page2_circuit.html' with ckt_num=3 %}
  {% include 'workoutsession_build_page2_circuit.html' with ckt_num=4 %}
  {% include 'workoutsession_build_page2_circuit.html' with ckt_num=5 %}

  <div class="row">
    <div class="col">
      <button class="btn btn-success" type="button" onclick="page_2_previous()">Previous</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-success" type="button" onclick="page_2_next()">Next</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>

</div>


