<div class="fitnessapp-workoutsession-card">
    <a class="fitnessapp-profile-item" href="{% url 'workout-detail' item.workout.id %}">
        <div class="fitnessapp-workoutsession-item-outer">
            <div class="fitnessapp-workoutsession-image-grid">
                <img class="fitnessapp-workoutsession-image"
                    src="https://img.youtube.com/vi/{{ item.workout.video_id }}/maxresdefault.jpg">
            </div>
            <!-- <div class="fitnessapp-workoutsession-name-display">
                <h6 class="text single-line"><b>{{ item.workout.name }}</b></h6>
            </div> -->
            <div class="fitnessapp-workoutsession-duration-display">
                <span><small><small>{{ item.workout.duration }} minutes</small></small></span>
            </div>
            <div class="fitnessapp-workoutsession-username-display">
                <h6 class="text single-line"><b>{% if item.person == user.person %} Me {% else %} {{ item.person.first_name }} {{ item.user.person.last_name }}{% endif %}</b></h6>
            </div>
            <div class="fitnessapp-workoutsession-time-display">
                <span><small><small>{{ item.scheduled_time }}</small></small></span>
            </div>
        </div>
    </a>
        {% if item.scheduled_date == today %}
        <div class="fitnessapp-card-button-display">
        <a href="{% url 'workoutsession-run' item.id %}">
            <button class="btn btn-primary" type="button">Go</button>
        </a>
        </div>
        {% else %}
        <div class="fitnessapp-date-display">
            <span><small><small>{{ item.scheduled_date }}</small></small></span>
        </div>
        {% endif %}
</div>