<div class="fitnessapp-workoutsession-card">
    <a class="fitnessapp-profile-item" href="{% url 'workout-detail' item.workout.id %}">
        <div class="fitnessapp-workoutsession-item-outer">
            <div class="fitnessapp-workoutsession-image-grid">
                <img class="fitnessapp-workoutsession-image"
                    src="https://img.youtube.com/vi/{{ item.workout.video_id }}/maxresdefault.jpg">
            </div>
            <div class="fitnessapp-workoutsession-name-display">
                <h6 class="text single-line"><b>{{ item.workout.name }}</b></h6>
            </div>
            <div class="fitnessapp-workoutsession-duration-display">
                <p><small><small>{{ item.workout.duration }} minutes</small></small></p>
            </div>
            <div>
                {{ item.user.first_name }}
            </div>
        </div>
    </a>
    <div class="fitnessapp-card-button-display">
        {% if item.scheduled_date == today %}
        <a href="{% url 'workoutsession-run' item.id %}">
            <button class="btn btn-primary" type="button">Go</button>
        </a>
        {% else %}
                <p><small><small>{{ item.scheduled_date }}</small></small></p>
        {% endif %}
    </div>
    
</div>