{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Create Session{% endblock %}

{% block content %}

<form id="build_form" method="post">
  {% csrf_token %}

  <div id="id-build-page-outer" class="build-page-outer">

    {% include 'workoutsession_build_page1.html' %}
    {% include 'workoutsession_build_page2.html' %}
    {% include 'workoutsession_build_page3.html' %}

  </div>

</form>

{% block scripts %}
<script>

function page_1_next()
{
  var form = document.getElementById("build_form");
  
  if (form.checkValidity()) 
  {
    set_display_none("page_1");
    set_display_block("page_2");

    document.getElementById("id-mainbody").scrollTop = 0;

    var formData = new FormData(form)
    const numberOfCircuits = formData.get("number_of_circuits");

    for (i = 0; i < 5; i++)
    {
      var exercises_element = document.getElementById("exercises_" + (i + 1))
      if (i < numberOfCircuits)
      {
        exercises_element.setAttribute('required', '');
        set_display_block("div_exercises_" + (i + 1))
      }
      else
      {
        exercises_element.removeAttribute('required');
        exercises_element.tomselect.clear();
        set_display_none("div_exercises_" + (i + 1))
        formData.set("exercises_" + (i + 1), null);
      }
    }
  }
  else
  {
    form.reportValidity();
    return;
  }
}

function page_2_previous()
{
    set_display_none("page_2");
    set_display_block("page_1");
    
    document.getElementById("id-mainbody").scrollTop = 0;

    for (i = 0; i < 5; i++)
    {
      document.getElementById("exercises_" + (i + 1)).removeAttribute('required');
    }
}

function page_2_next()
{

  // var form = document.getElementById("build_form");
  // var is_valid = form.checkValidity();
  // if (is_valid) {
  //   alert("form is valid");
    hideElement("page_2");
    showElement("page_3");
    document.getElementById("id-mainbody").scrollTop = 0;
    var is_valid = form.checkValidity();

    // const formData = new FormData(form);
    // document.getElementById("test").innerText = formData.get("exercises");

  // }
  // else
  //   form.reportValidity();
}

function page_3_previous() {
    hideElement("page_3");
    showElement("page_2");
    document.getElementById("id-mainbody").scrollTop = 0;

    // const formData = new FormData(form);
    // document.getElementById("test").innerText = formData.get("exercises");
}

function set_display_block(id) {
  document.getElementById(id).style.display = 'block';
}

function set_display_none(id) {
  document.getElementById(id).style.display = 'none';
}

function hideElement(id)
{
  document.getElementById(id).style.visibility = "hidden";
}

function showElement(id)
{
  document.getElementById(id).style.visibility = "visible";
}

var allExercises = document.querySelectorAll(".build-page-exercise");

for (exercise of allExercises)
{
  new TomSelect(exercise,
  {
    maxItems: 50,
    persist: false,
    createOnBlur: true,
    create: true,
    hidePlaceholder: true,
    plugins: {
      remove_button:{},
      caret_position:{},
      input_autogrow:{},
      clear_button:{},
    },

    options: [
      { value: "opt1", text: "Elevated Heel Deadlift" },
      { value: "opt2", text: "Quad Arm And Leg Lateral Swings" },
      { value: "opt3", text: "Mountain Climbers" },
      { value: "opt4", text: "Platform Lateral Lunge" },
      { value: "opt5", text: "Platform Down Down Up Up" },
      { value: "opt6", text: "Transverse Open Hand Lunge" },
      { value: "opt7", text: "Dive Bomb Pushups" },
      { value: "opt8", text: "Platform Pullovers" },
      { value: "opt9", text: "Supine Alternating Flutter Kicks While Holding a Ball" },
      { value: "opt10", text: "Supine Ball Leg Lifts" },
      { value: "opt11", text: "Seated Single Led Up Rainbow Twist" },
      { value: "opt12", text: "Dead Bug Hold" },
    ],

    onItemAdd: function()
    {
      this.setTextboxValue('');
      this.refreshOptions();
    },
  });
}

new TomSelect("#select-client",{
	sortField: {
		field: "text",
		direction: "asc"
	}
});

</script>
{% endblock %}

{% endblock %}