{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Create Session{% endblock %}

{% block content %}
<form id="build_form" method="post">
  {% csrf_token %}

  <div class="build-page-outer">

    {% include 'workoutsession_build_page1.html' %}
    {% include 'workoutsession_build_page2.html' %}

  </div>

</form>


{% block scripts %}
<script>

function page_1_next() {
  var form = document.getElementById("build_form");
  var is_valid = form.checkValidity();
  if (is_valid) {
    alert("form is valid");
    hideElement("page_1");
    showElement("page_2");

    const formData = new FormData(form);
    document.getElementById("test").innerText = formData.get("exercises");

  }
  else
    form.reportValidity();
}

function hideElement(id)
{
  document.getElementById(id).style.visibility = "hidden";
}

function showElement(id)
{
  document.getElementById(id).style.visibility = "visible";
}

new TomSelect("#exercises",
{
  maxItems: 50,
	persist: false,
	createOnBlur: true,
	create: true,
  hidePlaceholder: true,
  plugins: {
		remove_button:{},
    caret_position:{},
    input_autogrow:{},
    clear_button:{},
	},

    options: [
	  { value: "opt1", text: "Elevated Heel Deadlift" },
  	{ value: "opt2", text: "Quad Arm And Leg Lateral Swings" },
    { value: "opt3", text: "Mountain Climbers" },
    { value: "opt4", text: "Platform Lateral Lunge" },
    { value: "opt5", text: "Platform Down Down Up Up" },
    { value: "opt6", text: "Transverse Open Hand Lunge" },
    { value: "opt7", text: "Dive Bomb Pushups" },
    { value: "opt8", text: "Platform Pullovers" },
    { value: "opt9", text: "Supine Alternating Flutter Kicks While Holding a Ball" },
    { value: "opt10", text: "Supine Ball Leg Lifts" },
    { value: "opt11", text: "Seated Single Led Up Rainbow Twist" },
    { value: "opt12", text: "Dead Bug Hold" },

  ],

  onItemAdd: function()
  {
    this.setTextboxValue('');
    this.refreshOptions();
  },

});

new TomSelect("#select-client",{
	sortField: {
		field: "text",
		direction: "asc"
	}
});

</script>
{% endblock %}

{% endblock %}