{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Create Session{% endblock %}

{% block content %}

<form id="build_form" method="post">
  {% csrf_token %}

  <div id="id-build-page-outer" class="build-page-outer">

    {% include 'workoutsession_build_page1.html' %}
    {% include 'workoutsession_build_page2.html' %}
    {% include 'workoutsession_build_page3.html' %}

  </div>

</form>

{% block scripts %}
<script>

function page_1_next()
{
  var form = document.getElementById("build_form");
  
  if (form.checkValidity()) 
  {
    set_display_none("page_1");
    set_display_block("page_2");

    document.getElementById("id-mainbody").scrollTop = 0;

    var formData = new FormData(form);
    const numberOfCircuits = formData.get("number_of_circuits");

    for (i = 0; i < 5; i++)
    {
      var exercises_element = document.getElementById("exercises_" + (i + 1));
      if (i < numberOfCircuits)
      {
        exercises_element.setAttribute('required', '');
        set_display_block("div_exercises_" + (i + 1));
      }
      else
      {
        exercises_element.removeAttribute('required');
        exercises_element.tomselect.clear();
        set_display_none("div_exercises_" + (i + 1));
        formData.set("exercises_" + (i + 1), null);
      }
    }
  }
  else
  {
    form.reportValidity();
    return;
  }
}

function page_2_previous()
{
    set_display_none("page_2");
    set_display_block("page_1");
    
    document.getElementById("id-mainbody").scrollTop = 0;

    for (i = 0; i < 5; i++)
    {
      document.getElementById("exercises_" + (i + 1)).removeAttribute('required');
    }
}

function page_2_next()
{
  var form = document.getElementById("build_form");
  
  if (form.checkValidity()) 
  {
    set_display_none("page_2");
    set_display_block("page_3");
    document.getElementById("id-mainbody").scrollTop = 0;

    var formData = new FormData(form);
    const numCircuits = formData.get("number_of_circuits");
    var defaultReps = formData.get('exercise_reps');
    var defaultTime = formData.get('exercise_time');

    for (i = 0; i < 5; i++)
    { 
      
      if (i < numCircuits)
      {
        set_display_block("div_circuits_" + (i + 1));
        
        var numberOfExercises = document.getElementById("exercises_" + (i + 1)).tomselect.items.length;

        for (j = 0; j < 15; j++)
        {

            var quantityId = "id_exercise_quantity_" + (i + 1) + "_" + (j + 1);
            var quantityName = "exercise_quantity_" + (i + 1) + "_" + (j + 1);
            var circuitExerciseId = "div_circuits_exercise_" + (i + 1) + "_" + (j + 1);
            var quantityElement = document.getElementById(quantityId);

            // in case the quantity is empty or invalid, set it to the default reps or time depending on the setting
            // of the corresponding mode toggle
            var isReps = document.getElementById("reps_" + (i + 1) + "_" + (j + 1)).checked

            if (formData.get(quantityName) == '' || quantityElement.checkValidity() == false)
              quantityElement.value = isReps ? defaultReps : defaultTime;

            if (j < numberOfExercises)
            {
              set_display_null(circuitExerciseId);
              quantityElement.setAttribute('required', '');
            }
            else
            {
              set_display_none(circuitExerciseId);
              quantityElement.removeAttribute('required');
            }
        }
      }
      else
      {
        reset_circuit(formData, i);
        set_display_none("div_circuits_" + (i + 1));
      }
    }
  }
  else
  {
    form.reportValidity();
    return;
  }
}

// resets a circuit so that all quantities that are empty or invalid are set to
// exercise rest or time depending on the corresponding mode setting for that exercise.
function reset_circuit(formData, i)
{
    var defaultReps = formData.get('exercise_reps');
    var defaultTime = formData.get('exercise_time');

    for (j = 0; j < 15; j++)
    {
        var quantityId = "id_exercise_quantity_" + (i + 1) + "_" + (j + 1);
        var quantityName = "exercise_quantity_" + (i + 1) + "_" + (j + 1);
        var circuitExerciseId = "div_circuits_exercise_" + (i + 1) + "_" + (j + 1);
        var quantityElement = document.getElementById(quantityId);

        // set the quantity to reps or time depending on the setting of the corresponding mode toggle in case it is empty
        var isReps = document.getElementById("reps_" + (i + 1) + "_" + (j + 1)).checked

        if (formData.get(quantityName) == '' || quantityElement.checkValidity() == false)
          quantityElement.value = isReps ? defaultReps : defaultTime;;

        quantityElement.removeAttribute('required');
        set_display_null(circuitExerciseId);
    }

}

function page_3_previous() {
    set_display_none("page_3");
    set_display_block("page_2");
    document.getElementById("id-mainbody").scrollTop = 0;

    var form = document.getElementById("build_form");
    var formData = new FormData(form);

    for (i = 0; i < 5; i++)
    { 
      reset_circuit(formData, i);
    }
}

function set_display_block(id) {
  document.getElementById(id).style.display = 'block';
}

// restoring a div to original display state requires it to be set to empty and not none.
function set_display_null(id) {
  document.getElementById(id).style.display = '';
}

function set_display_none(id) {
  document.getElementById(id).style.display = 'none';
}

function hideElement(id)
{
  document.getElementById(id).style.visibility = "hidden";
}

function showElement(id)
{
  document.getElementById(id).style.visibility = "visible";
}

var allExercises = document.querySelectorAll(".build-page-exercise");

for (exercise of allExercises)
{
  new TomSelect(exercise,
  {
    maxItems: 50,
    persist: false,
    createOnBlur: true,
    create: true,
    hidePlaceholder: true,
    plugins: {
      remove_button:{},
      caret_position:{},
      input_autogrow:{},
      clear_button:{},
    },

    options: [
      { value: "opt1", text: "Elevated Heel Deadlift" },
      { value: "opt2", text: "Quad Arm And Leg Lateral Swings" },
      { value: "opt3", text: "Mountain Climbers" },
      { value: "opt4", text: "Platform Lateral Lunge" },
      { value: "opt5", text: "Platform Down Down Up Up" },
      { value: "opt6", text: "Transverse Open Hand Lunge" },
      { value: "opt7", text: "Dive Bomb Pushups" },
      { value: "opt8", text: "Platform Pullovers" },
      { value: "opt9", text: "Supine Alternating Flutter Kicks While Holding a Ball" },
      { value: "opt10", text: "Supine Ball Leg Lifts" },
      { value: "opt11", text: "Seated Single Led Up Rainbow Twist" },
      { value: "opt12", text: "Dead Bug Hold" },
    ],

    onItemAdd: function()
    {
      this.setTextboxValue('');
      this.refreshOptions();
    },
  });
}

new TomSelect("#select-client",{
	sortField: {
		field: "text",
		direction: "asc"
	}
});

</script>
{% endblock %}

{% endblock %}