{% load widget_tweaks %}

<div id="page_1" class="build-page-1">

  <!-- Client row -->
  <div class="row mb-3">
    <div class="col">
      <div class="form-floating">
        {% render_field form.session_client class="form-control" %}
        <label for="floatingclient">Client</label>
      </div>
    </div>
  </div>

  <!-- Date/time row -->
  <div class="row mb-3">
    <div class="col">
      <div class="form-floating">
        <input name="session_date" type="date" value="2025-06-30" aria-label="Date" class="form-control text-left">
        <label for="floatingdate">Date</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input name="session_time" type="time" value="23:58" aria-label="Time" class="form-control">
        <label for="floatingtime">Time</label>
      </div>
    </div>
  </div>

  <!-- Number of circuits and number of sets row -->
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="circuits" class="col-form-label-sm pb-0">Number of Circuits</label>
      <div name="circuits" class="btn-group form-control ps-0 pe-0" style="background-color: rgb(243, 242, 248); border: none;" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" value=1 name="number_of_circuits" id="circuit1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="circuit1">1</label>

        <input type="radio" class="btn-check" value=2 name="number_of_circuits" id="circuit2" autocomplete="off">
        <label class="btn btn-outline-primary" for="circuit2">2</label>

        <input type="radio" class="btn-check" value=3 name="number_of_circuits" id="circuit3" autocomplete="off">
        <label class="btn btn-outline-primary" for="circuit3">3</label>

        <input type="radio" class="btn-check" value=4 name="number_of_circuits" id="circuit4" autocomplete="off">
        <label class="btn btn-outline-primary" for="circuit4">4</label>

        <input type="radio" class="btn-check" value=5 name="number_of_circuits" id="circuit5" autocomplete="off">
        <label class="btn btn-outline-primary" for="circuit5">5</label>
      </div>
    </div>
    <div class="col-md-6">
      <label for="sets" class="col-form-label-sm pb-0">Number of Sets</label>
      <div name="sets" class="btn-group form-control ps-0 pe-0" style="background-color: rgb(243, 242, 248); border: none;" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" value=1 name="circuit_sets" id="set1" autocomplete="off">
        <label class="btn btn-outline-primary" for="set1">1</label>

        <input type="radio" class="btn-check" value=2 name="circuit_sets" id="set2" autocomplete="off">
        <label class="btn btn-outline-primary" for="set2">2</label>

        <input type="radio" class="btn-check" value=3 name="circuit_sets" id="set3" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="set3">3</label>

        <input type="radio" class="btn-check" value=4 name="circuit_sets" id="set4" autocomplete="off">
        <label class="btn btn-outline-primary" for="set4">4</label>

        <input type="radio" class="btn-check" value=5 name="circuit_sets" id="set5" autocomplete="off">
        <label class="btn btn-outline-primary" for="set5">5</label>
      </div>
    </div>
  </div>

  <!-- Set rest and exercise rest row -->
  <div class="row mb-3">
    <div class="col">
      <div class="form-floating">
        <input name="set_rest" type="number" inputmode="numeric" step="10" value="120" class="form-control" required min=10 max="300">
        <label for="floatingsetrest">Set Rest (secs.)</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input name="exercise_rest" type="number" inputmode="numeric" step="5" value="20" class="form-control" required min=5 max="180">
        <label for="floatingexerciserest">Exercise Rest (secs.)</label>
      </div>
    </div>
  </div>

  <!-- Exercise defaults fieldset -->
  <fieldset class="border p-2 pb-0 mb-3" style="background-color:ghostwhite; border-radius: var(--bs-border-radius);">
    <legend class="w-auto fs-6 fw-medium"><small>&nbsp;Exercise Defaults&nbsp;</small></legend>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input name="exercise_reps" type="number" inputmode="numeric" value="10" class="form-control" required min=1 max="200">
          <label for="floatingreps">Reps</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input name="exercise_time" type="number" inputmode="numeric" value="60" class="form-control" required min=5 step="5" max="300">
          <label for="floatingtime">Time (secs.)</label>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-6">
        <p></p>
        <div class="input-group mb-3">
          <span class="input-group-text" >Mode</span>
          <div name="time-reps" class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" value="TIME" name="exercise_mode" id="id_mode_time" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="id_mode_time" style="align-content: center; border-radius: 0px;"><i
                class="bi bi-stopwatch"></i></label>
      
            <input type="radio" class="btn-check" value="REPS" name="exercise_mode" id="id_mode_reps" autocomplete="off">
            <label class="btn btn-outline-primary" for="id_mode_reps" style="align-content: center;"><i
                class="bi bi-hash"></i></label>
          </div>
        </div>
      </div>
    </div>

  </fieldset>

  <!-- Next button -->
  <div class="row">
      <div class="col">
      </div>
      <div class="col-auto">
          <button class="btn btn-success" type="button" onclick="page_1_next()">Next</button>
      </div>
  </div>

 </div>