{% extends "base.html" %}
{% block header %}
<p>Workouts</p>
{% endblock %}
{% block content %}
    <table class="table">
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'workout-detail' item.id %}">
                        <img src="https://img.youtube.com/vi/{{ item.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 10px">
                        </a>
                    </td>
                    <td>
                        <p><b>{{ item.name }}</b></p>
                        <p class="fw-light">{{ item.duration }} minutes</p>
                    </td>
                </tr>
            {% empty %}
                No workouts yet.
            {% endfor %}
        </tbody>
      </table>
    <div class="d-grid gap-2 d-md-block">
        <a href="workouts/create">
        <button class="btn btn-primary" type="button">Create Workout</button>
        </a>
    </div>
{% endblock %}