        <ul class="list-group">
            <li class="list-group-item">
                <div class="workout-detail-attribute">
                    <div class="workout-detail-attribute-label"><span><b>Duration</b></span></div>
                    <div class="workout-detail-attribute-valuee">{{workoutObject.duration}} minutes</div>
                </div>
                </li>
            <li class="list-group-item">
                <div class="workout-detail-attribute">
                    <div class="workout-detail-attribute-label"><span><b>Difficulty</b></span></div>
                    <div class="workout-detail-attribute-valuee">{{workoutObject.get_difficulty_level_display}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="workout-detail-attribute">
                    <div class="workout-detail-attribute-label"><span><b>Target</b></span></div>
                    <div class="workout-detail-attribute-valuee">{{workoutObject.get_target_display}}</div>
                </div>
            </li>
        </ul>
        </br>
        {% for workoutcircuit in workoutObject.workoutcircuit_set.all %}
            <div class="workout-circuit-heading"><small><b>{{ workoutcircuit.name }} &nbsp;&nbsp;&nbsp;</b>{{ workoutcircuit.sets }} sets</small></div>
                    {% for circuitexercise in workoutcircuit.circuitexercise_set.all %}
                        {% include 'exercise_card.html' with item=circuitexercise.exercise %}
                    {% endfor %}
        {% endfor %}
