{% extends "base.html" %}

{% block title %}Workouts{% endblock %}

{% block content %}

<div>
    {% for item in object_list %}
    <div class="fitnessapp-workout-card">
        <a class="fitnessapp-profile-item" href="{% url 'workout-detail' item.id %}">
            <div class="fitnessapp-workout-item-outer">
                <div class="fitnessapp-workout-image-grid">
                    <img class="fitnessapp-workout-image" src="https://img.youtube.com/vi/{{ item.video_id }}/maxresdefault.jpg">
                </div>
                <div class="fitnessapp-workout-name-display">
                    <h6 class="text single-line"><b>{{ item.name }}</b></h6>
                </div>
                <div class="fitnessapp-workout-duration-display">
                    <p><small>{{ item.duration }} minutes</small></p>
                </div>
            </div>
        </a>
        <div class="fitnessapp-card-button-display">
            <a href="{% url 'workoutsession-create' item.id %}">
                <button class="btn btn-primary" type="button">+</button>
            </a>
        </div>

    </div>
    {% empty %}
    No workouts yet.
    {% endfor %}
</div>

{% endblock %}
