{% extends "base.html" %}
{% block header %}
<p>Run: {{ object.workout.name }}</p>
{% endblock %}
{% block content %}
<p>
    <a href="{% url 'workoutsession-step'  workoutsession_id=object.id sequencenumber=1 %}">
        <button class="btn btn-primary" type="button">Let's Go!</button>
    </a>
</p>
{% for item in object.workoutsessionstep_set.all %}
<p><img src="https://img.youtube.com/vi/{{ item.exercise.video_id }}/maxresdefault.jpg" width="80px" style="border-radius: 10px"> {{ item.exercise.name }}</p>
<p>Rest: {{ item.rest_after }} Seconds</p>
{% endfor %}
{% endblock %}