{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Delete Session{% endblock %}

{% block content %}

<form id="id-form" method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-12 text-center">
            <span class="text-secondary">Are you sure you want to delete this session?</span>
        </div>
    </div>

    <ul class="list-group">
        {% if user.person.coach_flag %}
        {% if object.person.id != user.person.id %}
        <li class="list-group-item">
            <div class="workout-detail-attribute">
                <div class="fitnessapp-text-color-header"><span><b>Client</b></span></div>
                <div class="fitnessapp-text-color-content">{{object.person.first_name}}&nbsp;{{object.person.last_name}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="workout-detail-attribute">
                <div class="fitnessapp-text-color-header"><span><b>Phone</b></span></div>
                <a class="fitnessapp-text-color-content text-decoration-none" href="tel:{{ object.person.phone_number }}"><span class=""><i class="bi bi-telephone-outbound"></i>&nbsp;&nbsp;&nbsp;{{ object.person.phone_number }}</a></span></a>
            </div>
        </li>
        {% endif %}
        {% endif %}
        <li class="list-group-item">
            <div class="workout-detail-attribute">
                <div class="fitnessapp-text-color-header"><span><b>Date</b></span></div>
                <div class="fitnessapp-text-color-content">{{object.scheduled_date|date:'D m/j'}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="workout-detail-attribute">
                <div class="fitnessapp-text-color-header"><span><b>Time</b></span></div>
                <div class="fitnessapp-text-color-content">{{object.scheduled_time|date:'h:i A'}}</div>
            </div>
        </li>
    </ul>

    <div class="row mt-3">
        <div class="col text-start">
            <a href="{% url 'workoutsession-do' object.id %}">
            <button class="btn btn-secondary" type="button">Cancel</button>
            </a>
        </div>
        <div class="col text-end">
            <button id="id-submit-button" class="btn btn-danger" type="submit">Confirm Delete</button>
        </div>
    </div>

</form>

{% block scripts %}

<script type="text/javascript" nonce="{{CSP_NONCE}}">

    document.getElementById('id-form').addEventListener("submit", deleteWorkoutSession);

    function deleteWorkoutSession()
    {
        var btn = document.getElementById('id-submit-button');
        btn.disabled = true;
        btn.innerText = 'Deleting...';
    }

</script>

{% endblock %}

{% endblock %}