<div id="div_exercises_{{ ckt_num }}">
    <fieldset class="border p-2 pb-0 mb-3" style="background-color:ghostwhite; border-radius: var(--bs-border-radius);">
        <legend class="w-auto fs-6 fw-medium"><small>Circuit {{ ckt_num }}</small></legend>
        <div class="row mb-3">
            <div class="col">
                <input name="exercises_{{ ckt_num }}" class="build-page-exercise" id="exercises_{{ ckt_num }}" autocomplete="off" placeholder="Start typing your exercises...">
            </div>
        </div>
    </fieldset>
</div>
