{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% if buildMode == "SESSION" %}Create Session{% else %}Create Workout{% endif %}{% endblock %}

{% block header-right-link %}{% url 'home' %}{% endblock %}
{% block header-right-icon %}<i class="bi bi-x-lg"></i>{% endblock %}


{% block content %}

<!-- Create the javascript element with the exercises from the context -->
{{ exercises|json_script:"id_exercises_json" }}
{{ buildMode|json_script:"id_build_mode" }}

<form id="build_form" method="post">
  {% csrf_token %}

  <div id="id-build-page-outer" class="build-page-outer">

    {% include 'builder/builder_page1.html' %}
    {% include 'builder/builder_page2.html' %}
    {% include 'builder/builder_page3.html' %}

  </div>
</form>

{% block scripts %}

<script type="text/javascript" {{ script_nonce }} src="{% static 'fitnessApp/js/builder.js' %}"></script>

{% endblock %}

{% endblock %}