{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Sign In{% endblock %}

{% block content %}

{% if form.errors %}
  <p class="text-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div>
<p><h3><b>WELCOME BACK!</b></h3></p>

<form method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-floating mb-3">
        {% render_field field class="form-control" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Log In">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a class="link-body-emphasis" href="{% url 'password_reset' %}">Forgot Password?</a></p>
</br>
</br>
<p><h6><b>Don't have an account?</b></h6></p>
<p><a class="link-body-emphasis" href="{% url 'signup' %}"><b>SIGN UP</b></a></p>
</div>

{% endblock %}