{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div>
<p><h3><b>WELCOME BACK!</b></h3></p>

<form method="post">{% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-success" type="submit" value="Sign In">
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a class="link-body-emphasis" href="{% url 'password_reset' %}">Forgot Password?</a></p>
</br>
</br>
<p><h6><b>Don't have an account?</b></h6></p>
<p><a class="link-body-emphasis" href="{% url 'signup' %}"><b>SIGN UP</b></a></p>
</div>

{% endblock %}