{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Forgot Password{% endblock %}

{% block header-left-link %}{% url 'login' %}{% endblock %}
{% block header-left-icon %}<i class="bi bi-chevron-left"></i>{% endblock %}

{% block content %}
<div>
<p>Please enter your email address below, and we'll email instructions for setting a new password.</p>

<form method="POST">{% csrf_token %}
    
    {% for field in form %}
    <div class="form-floating mb-3">
        {% render_field field class="form-control" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Send me instructions!">
</form>
</div>

{% endblock content %}