{% load static %}
<html>

{% include 'base/head.html' %}

<body>
<div class="page">
    <div class="header">
        <div><h5 class="fitnessapp-page-title">{% block title %}{% endblock %}</h5></div>
    </div>

    <div class="mainbody">
        {% block content %}{% endblock %}
    </div>
    
    <div class="footer">
        <div class="menu">
            <a class="menu_link" href="{% url 'home' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_home.svg' %}">
                    <span class="menu_label">Home</span>
                </div>
            </a>
            <a class="menu_link" href="{% url 'exercises' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_exercises.svg' %}">
                    <span class="menu_label">Exercises</span>
                </div>
            </a>
            <a class="menu_link" href="{% url 'workouts' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_workouts.svg' %}">
                    <span class="menu_label">Workouts</span>
                </div>
            </a>

            {% if user.is_authenticated and user.coach_flag %}
            <a class="menu_link" href="{% url 'clients' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_clients.svg' %}">
                    <span class="menu_label">Clients</span>
                </div>
            </a>
            {% endif %}

            {% if user.is_authenticated %}
            <a class="menu_link" href="{% url 'profile' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_user.svg' %}">
                    <span class="menu_label">Profile</span>
                </div>
            </a>
            {% else %}
            <a class="menu_link" href="{% url 'login' %}">
                <div class="menu_item">
                    <img class="menu_img" src="{% static 'images/menu_user.svg' %}">
                    <span class="menu_label">Sign In</span>
                </div>
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% block scripts %}
{% endblock %}

</body>

</html>