{% load static %}
<html>

{% include 'base/head.html' %}

<body>
<div class="page-no-footer">
    <div class="header">
<div class="row text-center align-items-center">
            <div class="col-2">
                <a href="{% block header-left-link %}{% endblock %}" class="text-decoration-none text-dark">
                    <div class="row h-100 align-items-center">
                        <div class="col fs-6">
                            {% block header-left-icon %}{% endblock %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col"><h5 class="fitnessapp-page-title">{% block title %}{% endblock %}</h5></div>
            <div class="col-2">
                <a href="{% block header-right-link %}{% endblock %}" class="text-decoration-none text-dark">
                    <div class="row h-100 align-items-center">
                        <div class="col fs-6">
                            {% block header-right-icon %}{% endblock %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div id="id-mainbody" class="mainbody-no-footer">
        <div class="mainbody-no-footer-portrait">
        {% block content %}{% endblock %}
        </div>
        <div class="mainbody-no-footer-landscape">
            <div class="row h-100 text-center align-items-center">
                <div class="col">
                    <span class="fitnessapp-text-color-content">Landscape mode is not supported by the Simply Fit app. Please rotate your device to continue.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-no-footer">
    </div>
</div>

{% block scripts%}
{% endblock %}

</body>

</html>