body {
    background: white
}

.fitnessapp-page-title {
    text-transform: uppercase; 
    padding-top: 0.25rem;
    font-size: 0.75rem; 
    font-weight: bolder;
}

.fitnessapp-profile-item {
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.page {
    display: grid;
    height: 100%;
    max-width: 500px;
    margin: auto;
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-columns: 100%;
    justify-content: center;
}

.header {
    display: grid;
    background-color: rgb(243, 242, 248);
    justify-content: center;
    align-items: center;
}

.mainbody { 
    display: grid;
    overflow: scroll;
    scrollbar-width: none;
    background-color: rgb(243, 242, 248);
    padding: 10px;
}

.footer {  
    display: grid;
    background-color: white;
    border: 1px;
    border-top: 1px solid rgb(100, 100, 100);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu_img {
    height: 1.25rem;
    width: 1.25rem;
}

.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_label {
    font-size: 0.75rem;
}

.menu_link {
    color: black;
    text-decoration: none;
}
.workout-section-heading-today, .workout-section-heading-upcoming, .workout-section-heading-past, .workout-circuit-heading {
    border-left: 0.30rem solid;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;
    height: 1rem;
    padding-left: 0.25rem;
    line-height: 1rem;
}

.workout-circuit-heading {
    border-left-color: maroon;
    margin-bottom: 0.75rem;
}

.workout-section-heading-today {
    border-left-color: darkblue;
}

.workout-section-heading-upcoming {
    border-left-color: green;
}

.workout-section-heading-past {
    border-left-color: darkorange;
}

.pause {
    height: 35px;
    width: 60px;
    padding: 10px 20px;
    font-size: 16px;
}

/* Run page CSS */

.timer-grid {
  display: grid;
  grid-area: 5 / 1 / 6 / 2;
  justify-items: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
}

.rest-exercise-display {
  grid-area: 1 / 1 / 2 / 4;
}

.previous-button {
  grid-area: 2 / 1 / 3 / 2;
}

.next-button {
  grid-area: 2 / 3 / 3 / 4;
}

.pause-resume-button {
  grid-area: 2 / 2 / 3 / 3;
}

.timer {
  grid-area: 1 / 1 / 2 / 2;
}

.fitnessapp-progress-container {
      width: 100%;
      background: #e0e0e0;
      border-radius: 0.2rem;
      overflow: hidden;
      height: 0.4rem;
      margin: 0 0;
    }

.fitnessapp-progress-bar {
      height: 100%;
      width: 0%;
      background: #4caf50;
      text-align: center;
      color: white;
      transition: width 0.3s ease;
    }

.fitnessapp-workout-card, .fitnessapp-exercise-card, .fitnessapp-workoutsession-card {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem; 
  background-color: white; 
  height: 6rem;
	position:relative;  
}

.fitnessapp-workout-item-outer, .fitnessapp-exercise-item-outer, .fitnessapp-workoutsession-item-outer {
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  grid-template-rows: 35% 65%;
  grid-auto-columns: auto 2fr 1fr;
}

.fitnessapp-workout-image-grid, .fitnessapp-exercise-image-grid, .fitnessapp-workoutsession-image-grid {
    height: 100%;
    grid-area: 1 / 1 / 3 / 2;
}

.fitnessapp-workout-image, .fitnessapp-exercise-image, .fitnessapp-workoutsession-image {
  height: 100%;
  border-radius: 0.5rem 0  0 0.5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.fitnessapp-workout-name-display, .fitnessapp-exercise-name-display, .fitnessapp-workoutsession-name-display {
  grid-area: 1 / 2 / 2 / 4;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
}

.fitnessapp-workout-duration-display, .fitnessapp-workoutsession-duration-display {
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 0.75rem;
}

.fitnessapp-card-button-display {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.fitnessapp-exercise-mode-display {
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 0.75rem;
}

.text.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}

.workout-session-run-outer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
}

/* .workout-session-progress-bar-outer {
  grid-area: 1 / 1 / 3 / 2;
  z-index: 2;
} */

.workout-session-run-row-video {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.workout-session-progress-bar-video-exercise-outer {
  display: grid;
  grid-template-rows: 2fr 9fr 2fr;
  grid-template-columns: 100%;
}

.workout-session-topblock {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
}

.workout-session-topblock-circuit-set {
  grid-area: 1 / 1 / 2 / 2;
}

.workout-session-progress-bar {
  grid-area: 2 / 1 / 3 / 2;
}

.workout-session-video {
  grid-area: 1 / 1 / 4 / 2;
  z-index: 1;
}

.workout-session-exercise {
  grid-area: 3 / 1 / 4 / 2;
  z-index: 2;
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 0.4rem;
  /* border: 0.15rem solid teal; */
}

.workout-session-exercise-circuit-set-outer {
  display: grid;
  height: 100%;
  padding-left: 0.5rem;
  align-items: center;
}

.workout-session-run-row-controls {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-rows: min-content min-content min-content min-content auto;
  grid-template-columns: 1fr;
  z-index: 1;
  /* border: 1px solid red; */
}

.workout-session-rest-reps-outer {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  grid-template-rows: 3rem;
  grid-template-columns: 47% 6% 47%;
  /* border: 1px solid blue; */
}

.workout-session-rest-display {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  align-content: center;
  border-radius: 0.5rem;
  background-color: white;
  /* border: 0.15rem solid teal; */
}

.workout-session-reps-display {
  grid-area: 1 / 3 / 2 / 4;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  align-content: center;
  border-radius: 0.5rem;
  background-color: white;
  /* border: 0.15rem solid teal; */
}

/* .workout-session-rest-box {
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.2rem;
  width: fit-content;
  background-color: teal;
} */

/* .workout-session-reps-time-box{
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.2rem;
  width: fit-content;
  background-color: teal;
} */

.workout-session-controls-grid {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  margin-top: 0.5rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  /* border: 0.15rem solid teal; */
}

.workout-session-previous-button {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: fit-content;
  align-content: center;
  justify-self: center;
}

.workout-session-pause-resume-button {
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  width: fit-content;
  align-content: center;
  justify-self: center;
}

.workout-session-next-button {
  grid-area: 1 / 3 / 2 / 4;
  height: 100%;
  width: fit-content;
  align-content: center;
  justify-self: center;
}

.workout-session-step-grid {
  display: grid;
  grid-area: 3 / 1 / 4 / 2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.5rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  border: 0.15rem solid teal;
}

.workout-detail-attribute {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.workout-detail-attribute-label {
  grid-area: 1 / 1 / 1 / 2;
}

.workout-detail-attribute-value {
  grid-area: 1 / 2 / 1 / 3;
}

.timer-outside-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content auto min-content;
}

.timer-grid-inner {
  grid-area: 1 / 1 / 4 / 4;
  margin: auto;
  z-index: 1;
}

.restart-timer {
  grid-area: 1 / 1 / 4 / 2;
  margin: auto;
  z-index: 2;
}

.skip-rest-timer {
  grid-area: 1 / 3 / 4 / 4;
  margin: auto;
  z-index: 2;
}

.timer-button {
  width: 4rem;
  margin: auto;
}

.message-div-outer {
  display: grid;
  grid-area: 4 / 1 / 5 / 2;
  grid-template-rows: 3rem;
  grid-template-columns: 1fr;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.message-rest-grid-inner, .message-exercise-grid-inner {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 0.5rem;
  /* padding-top: 0.5rem; */
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  text-align: center;
}

.message-text {
  font-size: 2rem;
  font-weight: bolder;
}