.circle-bg {
  stroke: #e6e6e6;
  fill: none;
  stroke-width: 8px;
 }

.circle-progress-rest, .circle-progress-time, .circle-progress-reps {
  stroke: orange;
  fill: none;
  stroke-width: 4px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
 }

.circle-progress-time {
  stroke: green;
}

.circle-progress-reps {
  stroke: gray;
}


.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #333;
 }
