.circle-bg {
  stroke: #e6e6e6;
  fill: none;
  stroke-width: 8px;
 }

.circle-progress {
  stroke: #e63946;
  fill: none;
  stroke-width: 8px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
 }

.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #333;
 }
